@font-face {
    font-family: 'Chango';
    src: url("./Chango-Regular.ttf");
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    background-color: rgba(124, 104, 238, 0.603);
    color: black; 
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: none;
}

/* Header Start */
header {
    align-self: stretch;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
} header .header-left {
    flex: 1 0 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 4px 0 6px rgba(0,0,0,0.2);
} header .header-left > p{
    align-self: stretch;
    padding: calc(2px + 0.1vw);

    display: flex;
    justify-content: center;
    align-items: center;

    font-style: italic;
    background-color: chocolate;
    color: yellow;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
} header .header-left-main {
    padding: 1vh 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: calc(0.5rem + 1vw);
} header .name-slogan {
    flex: 1 0 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: calc(1px + 0.55vh);
} header h1 span {
    letter-spacing: calc(2px + 0.25vw);
    font-size: calc( 1rem + 2vw );
    font-weight: 900;
    text-transform: uppercase;
    font-family: "Chango";
    text-shadow: 5px 5px 5px black;
} header .name-slogan p {
    align-self: stretch;
} header .name-slogan p em {
    margin-left: calc(5px + 15%);
    font-size: calc(0.25rem + 1vw);
    color: yellow;
} #lastname {
    color: #d15f09;
} #company {
    color: #473074;
}
header .header-right {
    align-self: stretch;
    flex: 1 0 auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
} header .header-right li {
    align-self: stretch;
    flex: 1 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 900;
    border-left: 1px solid #473074;
    box-shadow: 4px 0 6px rgba(0,0,0,0.2);
} header .header-right li a {
    align-self: stretch;
    flex: 1 0 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    font-weight: 900;
    font-size: calc(0.5rem + 1vw);
    color: black;
} header .header-right a:hover {
    transform: scale(0.8);
    transition: 0.5s;
    border-radius: 50%;
    background-color: #473074;
    color: #d15f09;
    box-shadow: 0 0 15px #d15f09;
}

/* Header End */

/* Main Start */
main {
    align-self: stretch;
    flex: 1 0 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    background-color: rgba(114, 97, 214, 0.637);
    font-size: 1.5rem;
} main .about {
    padding: 15vh 10vw;
} main .projects {
    padding: 15vh 10vw;

    background-color: rgba(124, 105, 233, 0.781);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
} main .call-to-action {
    padding: 15vh 10vw;
}
/* Main End */

/* Footer Start */
footer {
    align-self: stretch;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: calc(5px + 1%);

    background-color:darkgrey;
} footer .footer-top-wrapper {
    align-self: stretch;
    padding-top: calc(2px + .75%);

    display: flex;
    justify-content: space-around;
    align-items: center;
} footer .footer-top-left {
    flex: 1 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(5px + 1%);
} footer .footer-top-left .footer-name {
    font-family: 'Chango';
    font-size: 1.25rem;
    letter-spacing: calc(1px + 0.1vw);
}
footer .footer-top-right {
    flex: 1 0 auto;
    padding-right: calc(10px + 1vw);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: calc(5px + 2vw);
} footer .footer-top-right div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    font-weight: 900;
}
footer .footer-bottom-wrapper {
    align-self: stretch;
    padding-bottom: calc(5px + 0.75%);

    display:flex;
    justify-content: center;
    align-items: center;
}
footer .footer-top-wrapper .footer-top-left h3:first-child {
    color: #d15f09;
} footer .footer-top-wrapper .footer-top-left h3:last-child {
    color: #473074;
}
/* Footer End */

@media (max-width: 1150px) {
    header {
        flex-flow: column nowrap;
    } header .header-left {
        align-self: stretch;
    } header .header-left img {
        height: auto;
        width: 10vw;
        min-width: 100px;
    } header h1 span {
        letter-spacing: calc( 2px + 0.25vw );
        font-size: calc( 1rem + 1vw );
        text-shadow: 3px 3px 3px black;
    } header .name-slogan p em {
        margin-left: calc(5px + 15%);
        font-size: calc(0.55rem + 1vw);
        color: yellow;
    }

    footer {
        padding: 2vh;
    } footer .footer-top-wrapper {
        flex-flow: column nowrap;
        gap: calc( 5px + 1vh);
    } footer .footer-top-right {
        flex-flow: column nowrap;
    } footer .footer-bottom-wrapper {
        padding: calc(5px + 1vh);
    }
}